on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
            python-version: '3.x'
            architecture: 'x64'
            cache: 'pip'
      - run: pip install -r python/requirements.txt
      - run: python python/publish.py
      - run: git checkout -b gh-pages
      - run: git config --global user.name "MoJ Github Action"
      - run: git config --global user.email "platforms@digital.justice.gov.uk"
      - run: git add *.html
      - run: git commit -m "Publish latest changes"
      - run: git push origin gh-pages --force
      - name: Report failure to Slack
        if: always()
        uses: ravsamhq/notify-slack-action@v1
        with:
          status: ${{ job.status }}
          notify_when: 'failure'
          notification_title: 'Failed GitHub Action Run'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}